DATABASE_URL="file:./dev.db"
PORT=3000
JWT_SECRET=replace-with-strong-random-secret
DELIVERY_REDIRECT_URL=http://localhost:4000/driver/dashboard
DELIVERY_EXECUTION_URL=http://147.182.145.77:8000
ORDER_ORCHESTRATION_URL=http://159.203.16.186:6767
